{% extends "base.html" %}
{% block title %}Index Page{% endblock %}

{% block content %}

    <h1>04 Forms, POST Requests, File Handling</h1>
    <form method="post" action="{{ url_for('index') }}">
        <input type="text" name="username" placeholder="Username"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <input type="submit" value="Login">
    </form>

    <h1>File Upload</h1>
    <form method="POST" action="{{ url_for('file_upload') }}" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*, .pdf" required="required"></input>
        <input type="submit" value="Upload"></input>

    </form>
{% endblock %}